.certificates__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    z-index: 100;
    /* background: rgb(56, 56, 65); */
    /* background: white; */
    /* background-color: #181818; */


}
.certificate__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1{
    display: flex;
    flex-direction: row;
    /* padding-top: 0; */

}
.img__4{
    padding: 30px 10px;
    z-index: 100;
}
.img__6{
    padding: 30px 10px;
}

.img__4 p,.img__6 p{
    text-align: center;
    color: #abcae9;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 440px;
    

}
.image__fluid{
    max-width: 100%;
    height: auto;
    padding: 0 0;
    border: 5px solid white;
}
.image__fluid1{
    height: 300px;
    width: 300px;
    padding: 0 0;
    border: 5px solid white;
    /* padding: 30px 10px; */
}

h2{
    color: white;
    font-family: sans-serif;
    z-index: 100;

}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 850px){
    .certificates__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .certificate__img{
        display: flex;
        flex-direction: column;
        padding: 40px 30px;
    }
    .section1{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }
    .section2{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
         height: 1800px;
         justify-content: center;
    
    }
    .section2 .image__fluid1{
        max-width: 100%;
        height: auto;
        width: auto;
        padding: 0 0;
        border: 5px solid white;
        justify-content: center;
    }
    .image__fluid1{
        
    max-width: 100%;
    height: auto;
    padding: 0 0;
    border: 5px solid white;
    }
}
@media screen and (max-width:450px) {
    .section2{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        border: 10px solid;
         height: 800px;
         justify-content: center;
         border: none;
    
    }
    
}
/* @media screen and (max-width:850px){
    .section1{
        width: 790px;
        padding: 20px 20px;
    }
    .image__fluid{
        width: 250px;
        height: 250px;
    }
    .section2{
        width: 760px;
        padding: 20px 20px;
        align-items: center;
        justify-content: center;
    }
    .image__fluid1{
        width: 220px;
        height: 220px;

    }
} */