.certificates__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    /* background: rgb(56, 56, 65); */
    background: white;
    background-color: #181818;


}
.certificate__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1{
    display: flex;
    flex-direction: row;
    /* padding-top: 0; */

}
.img__4{
    padding: 30px 10px;
}
.img__6{
    padding: 30px 10px;
}

.img__4 p,.img__6 p{
    text-align: center;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 440px;
    

}
.image__fluid{
    max-width: auto;
    height: auto;
    padding: 0 0;
    border: 5px solid white;
}
.image__fluid1{
    height: 300px;
    width: 300px;
    padding: 0 0;
    border: 5px solid white;
    /* padding: 30px 10px; */
}

h2{
    color: white;
    font-family: sans-serif;

}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* p {
    font-size: 10px;
    font-family: sans-serif;
    color: aliceblue;
} */
