.mainsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}
#img {
    max-width: 100%;
    height: auto;
    padding: 60px 10px;
    border-radius: 50%;
}
.details {
    padding: 10px 10px;
}
.details p{
    color: white;
    font-family: 16px system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1rem;
    font-weight: lighter;
    font: inter;
   /* font: 16px; */
}
.details h1{
    color:  #7fa7cf;
    font-size: 20px;
}