.heading{
    text-align: center;
    background-color: #181818;
    background-color: #2f343b;
    padding: 120px 20px;

}
h1 {
    font-family:"poppins" sans-serif;
    color:  #258ffa;
    color:  #7fa7cf;
    font-size: 45px;
    padding: 10px 20px;
}
.heading p {
    color: #abcae9;
    padding-top: 20px ;
}