.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.navbar__links{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: baseline;

}
.menu__container{
    margin-left: 1rem;

    display: none;
    position: relative;
}
h3 {
    color:  #7fa7cf;
    font: 10;
    font-family: sans-serif;
    padding-right: 20px;
}
.navbar__links__container{
    display:  flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 300px;
}
.navbar__links__container p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    justify-content: flex-end;
    margin: 0 1rem;
    cursor: pointer;
}